.nav-link {
    align-self: center;
}

.bannerDiv {
    font-family: monospace;
    color: turquoise;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    background-image: url(./img/homeBanner.jpg);
    background-size: cover;
}

.bannerText {
    margin-top: 1vh;
}    